/* Mobile */
@media (max-width: 900px) {

    #begin {
        margin-top: 205px;
    }

    div {
        display: inline;
    }

    .txtcolor {
        margin-top: 85px;
    }

    .boy {
        transform: translate(-81px, 10px);
    }

    .girl {
        transform: translate(-18px, -24px);
    }

    .svg-inline--fa {
        transform: translate(-14px, 10px);
    }
    
    .abc {
        display: none;
    }
}